:root {
    --logo-text-color: #000000;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --hero-footer-logo-color: #FFFFFF;
    --h2-h3-link-color: #212121;
    --header-bg-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --button-bg-color: #2196F3;
    --features-bg-color: #F5F5F5;
    --crew-bg-color: #F5F4FA;

    --footer-bg-color: #2F303A;
    }
}
.link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0,02em;
}
 
.list {
    list-style: none;
}

body {
    font-family: Roboto;
    font-style: normal;
    color: var(--primary-text-color);
}
/* header */
.nav {
    background: var(--header-bg-color);
    font-family: Roboto;
}
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-wrap {
    color: var(--logo-text-color);
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--h2-h3-link-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
/* .nav-link:focus {
    color: var(--accent-color);
} */
.current {
    color: var(--accent-color);
}
.nav-cont {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.nav-cont:hover,
.nav-cont:focus {
    color: var(--accent-color);
}
/* hero */
.hero {
    background: var(--hero-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-footer-logo-color);
}
.hero-button {
    font-family: Roboto;
    font-style: normal;
    font-family: var(--hero-footer-logo-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: var(--button-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
    color: var(--hero-footer-logo-color);
}
.hero-tittle {

}
/* Характеристики */
.features {
    background: var(--features-bg-color);
}
.hidden-tittle {
    display: none;
}
.features-tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--h2-h3-link-color);
}
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* Чим ми займаємось */
.service-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--h2-h3-link-color);
}
/* Команда */
.crew {
    background: var(--crew-bg-color);
}
.crew-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h2-h3-link-color); 
}
.crew-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--h2-h3-link-color);
}
.crew-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer {
    background: var(--footer-bg-color);
}
.logo-footer {
    color: var(--hero-footer-logo-color);
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--hero-footer-logo-color);
}
.contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.contact:hover {
    color: var(--accent-color);
}
.contact:focus {
    color: var(--accent-color);
}   


/* Стилі для Портфоліо */

/* колір logo #000000; black*/
/* колір акцент #2196F3; blue*/
/* колір основного тексту 757575 */
/* колір тексту #212121;*/
/* колір заголовка білий #FFFFFF*/
/* вториенний колір шапки rgba(255, 255, 255, 0.6);*/
/* колір хедера FFFFFF */
/* колір сторінки  F5F5F5*/
 /* колір портфоліо F5F4FA */
 /* колір футера 2F303A */