

.link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0,02em;
}
.current {
    color: #2196F3;
}
.list {
    list-style: none;
}

body {
    font-family: Roboto;
    font-style: normal;
    color: #757575;
}
/* header */
.nav {
    background: #FFFFFF;
    font-family: Roboto;
}
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-wrap {
    color: #000000;
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-cont {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
/* hero */
.hero {
    background: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nav-button {
    font-family: Roboto;
    font-style: normal;
    font-family: var(--#FFFFFF;)
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
    color: #FFFFFF;
}
/*  */
.features {
    background: #F5F5F5;
}
.section-tittle {
}
.features-tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.service-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}
.crew {
    background: #F5F4FA;
}
.crew-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}
.crew-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
}
.job-tittle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer {
    background: #2F303A;
}
.logo-footer {
    color: #FFFFFF;
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



/* колір logo #000000; black*/
/* колір акцент #2196F3; blue*/
/* колір основного тексту 757575 */
/* колір тексту #212121;*/
/* колір заголовка білий #FFFFFF*/
/* вториенний колір шапки rgba(255, 255, 255, 0.6);*/
/* колір хедера FFFFFF */
/* колір сторінки  F5F5F5*/
 /* колір портфоліо F5F4FA */
 /* колір футера 2F303A */