

.link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0,02em;
}
.current {
    color: #2196F3;
}
.list {
    list-style: none;
}

body {
    text-decoration: none;
    color: #757575;
    background-color: #F5F5F5;;
}
/* header */
.nav {
    background: #FFFFFF;
}
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-wrap {
    color: #000000;
}
.nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.hero {
    background: #2F303A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nav-button {
    font-family: var(--#FFFFFF;)
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
}
.section-tittle {

}
.crew {
    background: #F5F4FA;
}
.footer {
    background: #2F303A;
}
/* колір logo #000000; black*/
/* колір акцент #2196F3; blue*/
/* колір основного тексту 757575 */
/* колір тексту #212121;*/
/* колір заголовка білий #FFFFFF*/
/* вториенний колір шапки rgba(255, 255, 255, 0.6);*/
/* колір хедера FFFFFF */
/* колір сторінки  F5F5F5*/
 /* колір портфоліо F5F4FA */
 /* колір футера 2F303A */