body {
    color: #757575;
    background-color: FFFFFF;
}
.logo {
    color: #2196F3;
}
.list {
    li
}



/* колір logo #000000; black*/
/* колір акцент #2196F3; blue*/
/* колір основного тексту 757575 */
/* колір тексту #212121;*/
/* колір заголовка білий #FFFFFF*/
/* вториенний колір шапки rgba(255, 255, 255, 0.6);*/
/* колір хедера FFFFFF */
/* колір сторінки  F5F5F5*/
 /* колір портфоліо F5F4FA */
 /* колір футера 2F303A */